<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p class = "mantra"><%= @user.mantra %></p>

<% unless (friends? || @current_user == @user) %>
    <h3><%= link_to "Add #{@user.first_name} as a friend", friends_path(friend_id: @user.id), method: :post %></h3>
<% end %> <!-- Not friends or owner conditional -->

<% if @user.id == @current_user.id %>
  <h3><%= link_to "Edit", edit_user_path(@current_user) %></h3>
<% end %> <!-- Owner conditional -->

<% if(friends? || @current_user == @user) %>
  
  <h2>Gas</h2>
    <h3 class="billBest">Best: $<%= @best_gas.amount %>
      <span class = "billDate"><%= month_num_to_abb @best_gas.month %> <%= @best_gas.year %></span></h3>      
    <h3 class="billRecent">Recent: $<%= @gas_bill_recent.amount %> 
      <span class = "billDate"><%= month_num_to_abb @gas_bill_recent.month %> <%= @gas_bill_recent.year %></span></h3>

  <h2>Water</h2>
    <h3 class="billBest">Best: <%= @best_water.amount %> gallons
      <span class = "billDate"><%= month_num_to_abb @best_water.month %> <%= @best_water.year %></span></h3>   
    <h3 class="billRecent">Recent: <%= @water_bill_recent.amount %> gallons 
      <span class = "billDate"><%= month_num_to_abb @water_bill_recent.month %> <%= @water_bill_recent.year %></span></h3>

  <h2>Electric</h2>
    <h3 class="billBest">Best: <%= @best_electric.amount %> kWh
      <span class = "billDate"><%= month_num_to_abb @best_electric.month %> <%= @best_electric.year %></span></h3> 
    <h3 class="billRecent">Recent: <%= @electric_bill_recent.amount %> kWh 
      <span class = "billDate"><%= month_num_to_abb @electric_bill_recent.month %> <%= @electric_bill_recent.year %></span></h3>

<% end %> <!-- Friends or owner conditional -->


