<h1>Your gas bills</h1>
<% if @gas_bills.length == 0 %>
<h2>Please <%= link_to "add", "/users/#{@current_user.id}/gas_bills/new" %> a gas bill</h2>
<% else %>
  <% @gas_bills.each do |bill| %>
    <h2 class = "billStat">
      $<%= bill.amount %>
      <span class="billDate"><%= month_num_to_abb bill.month %> <%= bill.year %></span>
      <%= link_to "x", user_gas_bill_path(id: bill.id), method: :delete %>
    </h2>
  <% end %>
<% end %>
