<h1>Your electric bills</h1>
<% if @electric_bills.length == 0 %>
<h2>Please <%= link_to "add", "/users/#{@current_user.id}/electric_bills/new" %> an electric bill</h2>
<% else %>
  <% @electric_bills.each do |bill| %>
    <h2 class = "billStat">
      <%= bill.amount %> kWh
      <span class="billDate"><%= month_num_to_abb bill.month %> <%= bill.year %></span>
       <%= link_to "x", user_electric_bill_path(id: bill.id), method: :delete %>
    </h2>
  <% end %>
<% end %>
