<h1>Your water bills</h1>
<% if @water_bills.length == 0 %>
<h2>Please <%= link_to "add", "/users/#{@current_user.id}/water_bills/new" %> an water bill</h2>
<% else %>
  <% @water_bills.each do |bill| %>
    <h2 class = "billStat">
      <%= bill.amount %> gallons
      <span class="billDate"><%= month_num_to_abb bill.month %> <%= bill.year %></span>
      <%= link_to "x", user_water_bill_path(id: bill.id), method: :delete %>
    </h2>
  <% end %>
<% end %>