<!DOCTYPE html>
<html>
<head>
  <title>Leaflet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    UPLOADCARE_PUBLIC_KEY = '8f615b911b6092cc8a13';
    UPLOADCARE_TABS = 'all';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_CLEARABLE = true;
  </script>
  <script charset="utf-8" src="https://ucarecdn.com/widget/2.0.2/uploadcare/uploadcare.full.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top leafletBar">
    <div class="container-fluid" class="navcontainer">
      
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to "Leaflet", root_path %>
        </li>
      <% if session[:user_id] %>
        <li class = "searchForm">
          <%= form_tag(search_path, class: 'navbar-form navbar-left extra-padding-to-nav searchForm') do %>
            <%= text_field_tag(:query, params[:query]) %>
            <%= submit_tag("search Leaflet") %>
          <% end %>
        </li>
      <% end %>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <li>
            <a href="/"><p>About</p></a>
          </li>
          <li>
              <%= link_to "Profile", user_path(@current_user) %>
          </li>
          <li>
            <%= link_to "Log Out", access_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <a href="/"><p>About</p></a>
          </li>
          <li>
            <a href="/"><p>Log In</p></a>
          </li>
        <% end %>
      </ul>
      
    </div>
  </nav>

  <% flash.each do |key, value| %>
  
    <% if key == "notice" %>
      <%= content_tag :div, value, class: "text-center alert alert-warning flashMessage" %>
    <% elsif key == "alert" %>
      <%= content_tag :div, value, class: "text-center alert alert-danger flashMessage" %>
    <% else %>
      <%= content_tag :div, value, class: "text-center alert alert-success flashMessage" %>
    <% end %>
  <% end %>

<% if session[:user_id] %>
  <ul class="list-group leftSideNav pull-left">
    <li class="list-group-item leafletBar"><div>
      <p><%= link_to "#{@current_user.first_name.capitalize} #{@current_user.last_name.capitalize}", "/users/#{@current_user.id}" %></p>
      <p><%= link_to "Edit", "/users/#{@current_user.id}/edit" %></p>
    </div></li>
    <li class="list-group-item leafletBar">
      <p><%= link_to "Friends", "/users/#{@current_user.id}/friends" %></p>
    </li>
    <li class="list-group-item leafletBar"><div>
      <p><%= link_to "Groups", "/users/#{@current_user.id}/groups" %></p>
      <p><%= link_to "New Group", "/users/#{@current_user.id}/groups/new" %></p>
    </li></div>
  </ul>

<% end %> <!-- Session check -->

<% if session[:user_id] %><div class = "dynamicContentToLeft"><% end %>
<%= yield %>
<% if session[:user_id] %></div><% end %>

</body>
</html>
